<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd">
    <coverage>
        <report>
            <html outputDirectory="tests/coverage" lowUpperBound="35" highLowerBound="70"/>
        </report>
        <include>
            <directory suffix=".php">src/</directory>
        </include>
    </coverage>
    <logging/>
    <php>
        <env name="CODEWARS_VALID_USERNAME" value="jamesrweb" />
        <env name="CODEWARS_INVALID_USERNAME" value="aW52YWxpZA==" />
        <env name="CODEWARS_DUMMY_API_KEY" value="bWFkZS11cC1rZXk=" />
        <env name="CODEWARS_VALID_CHALLENGE_ID" value="5277c8a221e209d3f6000b56" />
        <env name="CODEWARS_INVALID_CHALLENGE_ID" value="aW52YWxpZC1jaGFsbGVuZ2UtaWQ=" />
    </php>
    <testsuites>
        <testsuite name="Project Test Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
</phpunit>
